button {
    border: none;
    background-color: white;
    font-size: 24px;
    color: rgb(10, 1, 1);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(245, 235, 235);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: orange;
  }
  
  .equals:hover {
    background-color: rgb(185, 123, 7);
  }
  